:root {
    --background: cornflowerblue;
}

body{
    margin: 0;
}

header {
    top: 0;
    background-color: var(--background);
    width: 100%;
    text-align: center;
    position: fixed;
    z-index: 100;
    opacity: 80%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav {
    position: absolute;
    text-align: left;
    background-color: var(--background);
    width: 100%;
    display: none;
}

nav li {
    color: white;
    margin-bottom: 0.5em;
    margin-left: 1em;
}

nav a {
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
}

nav a:hover {
    color: black;
}

.logo{
    margin: 2px;
    width: 60px;
    border-radius: 10px;
}

.splash__screen {
    height: 200vh;
    background-image: url(/img/background.jpg);
    background-color: antiquewhite;
    background-size: cover;
    display: grid;

}

.prof {
    position: relative;
    margin-top: 53px;
    background-color: aqua;
    height: 200px;
    width: 300px;
    padding: 100px;
}

.prof__img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
