:root {
    --background: rgba(100, 149, 237, 0.7);
}

body{
    margin: 0;
}

.splash__screen {
    height: 200vh;
    background-image: url(/img/background.jpg);
    background-color: antiquewhite;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.prof {
    margin-top: 75px;
    margin-left: 10px;
    background-color: rgba(246, 245, 245, 0.7);
    display: flex;
    flex-direction: row;
    max-height: fit-content;
    max-width: 1000px;
    align-items: center;
    border-radius: 6px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

.prof__img {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    max-width: 20%;
    height: auto;
}

.selfie {
    max-width: 100%;
    max-height: 100%;
    border-radius: 6px;
}

.intro {
    margin-left: 40px;
}

p {
    margin: 8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}