:root {
    --background: rgba(100, 149, 237, 0.7);
}

header {
    top: 0;
    background-color: var(--background);
    width: 100%;
    text-align: center;
    position: fixed;
    z-index: 100;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav {
    position: absolute;
    text-align: left;
    background-color: var(--background);
    width: 100%;
    display: none;
}

nav li {
    color: white;
    margin-bottom: 0.5em;
    margin-left: 1em;
}

nav a {
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
}

nav a:hover {
    color: black;
}

.logo{
    margin: 2px;
    width: 60px;
    border-radius: 10px;
}

.nav-toggle{
    display: none;
}

.nav-toggle:checked ~ nav {
    display: block;
}

.nav-toggle-label {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 1.2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}